*{
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
}

html, body{
	background: #F5F5F5;
	/*background-image: url(../img/dark2.jpg);*/
	 /*background-repeat: repeat-x;*/
	/*height: 100%;*/
	/*border: 1px solid red;*/
}

/*body{
	height: 100%;
}*/

.wrap{
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 15px;
	border: 1px solid red;
}

.search-form{
	text-align: center;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #000000;
}