
*{
	margin: 0px;
	padding: 0px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}



body{
	background-color: #EEE;
}

section{

	height: 100%;
	position: absolute;
	top: 0px;

}

iframe{
	border: 0px;
	height: 100%;
	position: absolute;
	top: 0px;
	width: 100%;
}

#menu{
	/*display: block;*/
	background-color: #9CC;
	left: 0px;
	width: 20%;
	top: 0px;
	height: 100%;   
}
#contenido{
	right: 0px;
	width: 80%;

}

div#cabecera-menu{
	background-color: #666;
	float: top;
	height: 15%;
	position: fixed;
	width: 20%;

}

div#lista-menu{
	height: 78%;
	overflow: auto;
	position: absolute;
	top: 15%;
	width: 100%;
}

div.menu-desplegable{
	/**/
}

div.menu-desplegable h2{
	background-color: #DDD;
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	color: #444;
	font-family: 'Quicksand';
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-top: 5px;
}

div.menu-desplegable h2 img{
	cursor: pointer;
	float: right;
	margin-right: 10px;
	height: 100%;
	width: 21px;
	height: 21px;

/*	-ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);*/
}

/*div.menu-desplegable h2 img:hover{

	border-radius: 10px;

}*/

div.menu-desplegable ul{
	padding-bottom: 5px;
	padding-top: 5px;
	list-style-type:none;
	cursor: pointer;
	/*display: none;*/
}

div.menu-desplegable ul li{
	padding-left: 15px;
	overflow: hidden;
}
div.menu-desplegable ul li:hover{
	background-color: rgba(102,102,102,0.3);
	font-size: 20px;
}

div#pie-menu{
	background-color: #666;
	bottom: 0px;
	height: 7%;
	padding: 0px;
	position: fixed;
	width: 20%;
	z-index: 1;

}

div#imgLogo{
	float: left;
	height: 100%;
	width: 40%;
}

div#imgLogo img{
	cursor: pointer;
	height: 100%;
	width: 100%;
}

div#imgLogo img:hover{
	content: url('../img/smile2.png');

}

div#contenido-cabecera-logo{
	width: 60%;
	float: left;
	height: 100%;
	/*border: 1px solid green;*/
}

div#contenido-cabecera-textos{
	height: 70%;
	width: 100%;
}

div#contenido-cabecera-textos p{
	font-family: 'Quicksand';
	color: white;
	font-size: 22px;
	font-weight: bold;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-top: 5px;
	display: block;

}

div#contenido-cabecera-botones{
	width: 100%;
	height: 30%;
	float: left;

}

div.botones-logo{
	background-color: #EEE;
	cursor: pointer;
	float: left;
	display: block;
	height: 100%;
	margin-right: 5px;
	width: 30%;
}

div.botones-logo img{
	width: 100%;
	height: 100%;
}

div.botones-logo:hover{
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	background-color: #AAA;
}

div.img-icon-pie{
	float: left;
	height: 90%;
	margin-left: 11%;
	padding-top:2px;
	width: 17%;
}

div.img-icon-pie a,
div.img-icon-pie a img{
	height: 100%;
	width: 100%;
}
/*
div.img-icon-pie a img{
	-webkit-filter: grayscale(100%);
  	-moz-filter: grayscale(100%);
  	-ms-filter: grayscale(100%);
  	-o-filter: grayscale(100%);
  	filter: grayscale(100%);
  	filter: url(grayscale.svg#greyscale); 
  	filter: gray; 

}
*/
div.img-icon-pie a img:hover{
	border-radius: 15px;
}

div#img-flecha{

	background-color: rgba(102,102,102,0.3);
	cursor: pointer;
	height: 60px;
	left: 20%;
	position: fixed;
	top: 45%;
	width: 15px;
	z-index: 1;

	-webkit-border-top-right-radius: 180px;
	-webkit-border-bottom-right-radius: 180px;
	-moz-border-radius-topright: 180px;
	-moz-border-radius-bottomright: 180px;
	border-top-right-radius: 180px;
	border-bottom-right-radius: 180px;

}

div#img-flecha:hover{
	background-color: rgba(102,102,102,0.7);
}

div#img-flecha img{
	position: absolute;
	top: 36%;
	width: 100%;
	z-index: 1;

}

