
.barra {
	background: #8AD0D8;
	border-radius: 10px;
	border: 1px dotted #868686;
	height: 12px;
	width: 12px;
	margin: 10px auto;
}

.descripcion{
	margin-top: 1em;
	text-align: center;
	font-family: "Inconsolata";
}

.contenedor_controles{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid red;
	/*background: rgba(255, 255, 255, 0.7);*/
}

.controles{
	text-align: center;
}

.boton_accion{
	width: 0;
	height: 0;
	border-style: solid;
	border-radius: 50%;
	color: #727272;
	background: red;
}

.btn_top{
	border-width: 1.5em 1.5em 1.5em 1.5em;
	border-color: rgba(208,208,208,0.8) transparent rgba(208,208,208,0.8) transparent;
}
.btn_right{
	border-width: 1.5em 1.5em 1.5em 0;
	border-color: transparent rgba(208,208,208,0.8) transparent transparent;
}
.btn_down{
	border-width: 0 1.5em 1.5em 1.5em;
	border-color: transparent transparent rgba(208,208,208,0.8) transparent;
}
.btn_left{
	border-width: 1.5em 0 1.5em 1.5em;
	border-color: transparent transparent transparent rgba(208,208,208,0.8);
}


