
.container-img{
	/*border: 1px solid red;*/
	height: 100px;
	margin: 0 auto;
	text-align: center;

	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #606060 100%); /* ff3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #606060)); /* safari4+,chrome */
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #606060 100%); /* safari5.1+,chrome10+ */
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #606060 100%); /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #606060 100%); /* ie10+ */
	background: radial-gradient(ellipse at center, #ffffff 0%, #606060 100%); /* w3c */
	filter:     progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#606060',GradientType=1 ); /* ie6-9 */
}

.container-conf{
	margin: 10px auto;
	text-align: center;
	/*border: 1px solid red;*/
}

.label-container-conf{
	color: #379DB0;
	font-style: italic;
	font-weight: bold;
	margin-right: 20px;
}

.elemento-container-conf{
	/*margin-left: 20px;*/
	display: inline-block;
}

.label-container-conf, .elemento-container-conf{
	font-family: "Play";
}

.elemento-container-conf select{
/*	border-width: 0 1px 1px 0;
	border-color: #000000;*/
	outline: none;
}

.update{
	border-radius: 3px;
	border: 1px solid #A6A6A6;
	cursor: pointer;
	display: inline-block;
	height: 21px;
	line-height: 21px;
	vertical-align: top;
	width: 21px;

	background: -moz-radial-gradient(center, ellipse cover, #FFFFFF 0%, #D4D4D4 100%); /* ff3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #FFFFFF), color-stop(100%, #D4D4D4)); /* safari4+,chrome */
	background: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 0%, #D4D4D4 100%); /* safari5.1+,chrome10+ */
	background: -o-radial-gradient(center, ellipse cover, #FFFFFF 0%, #D4D4D4 100%); /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, #FFFFFF 0%, #D4D4D4 100%); /* ie10+ */
	background: radial-gradient(ellipse at center, #FFFFFF 0%, #D4D4D4 100%); /* w3c */
	filter:     progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#D4D4D4',GradientType=1 ); /* ie6-9 */
}

.update:hover{
	background: -moz-radial-gradient(center, ellipse cover, #FFFFFF 0%, #B6B6B6 100%); /* ff3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #FFFFFF), color-stop(100%, #B6B6B6)); /* safari4+,chrome */
	background: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 0%, #B6B6B6 100%); /* safari5.1+,chrome10+ */
	background: -o-radial-gradient(center, ellipse cover, #FFFFFF 0%, #B6B6B6 100%); /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, #FFFFFF 0%, #B6B6B6 100%); /* ie10+ */
	background: radial-gradient(ellipse at center, #FFFFFF 0%, #B6B6B6 100%); /* w3c */
	filter:     progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#B6B6B6',GradientType=1 ); /* ie6-9 */
}

.update img{
	/*vertical-align: top;*/
	line-height: 12px;
	height: 12px;
	display: inline-block;
}

#imagen{
	display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 240px){
	.update{
		width: 60%;
		margin: 0.5em auto;
	}
	
}